header, footer {    background-color: rgba(0, 0, 0, 0.7);}
nav ul {
    list-style: none; /* Remove os marcadores de lista */
    margin: 0;
    padding: 0;
    text-align: center; /* Centraliza os itens da navegação */
}

nav ul li {
    display: inline-block; /* Faz os itens da lista ficarem lado a lado */
    margin: 0 20px; /* Espaçamento entre os itens */
}

nav ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #fff; /* Cor do texto dos links */
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave ao passar o mouse */
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo ao passar o mouse */
    color: #ffd700; /* Cor do texto dourado ao passar o mouse */
}

nav ul li a.active { /* Estilo para a aba ativa */
    background-color: #007bff; /* Exemplo de azul mais vibrante para a aba ativa */
    color: #fff;
    pointer-events: none; /* Desabilita clique na própria página ativa */
}
